.landing-page-wrapper {
  height: calc(100% - 60px - 12px);
}

.landing-page-wrapper > .page-half {
  height: auto
}

.page-half {
  display: flex;

  min-height: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-size: cover;

  height: calc(50%);

  /*opacity: 0.7;*/
}

.page-half-above {
  background: url('/assets/living-room.jpg') no-repeat center center fixed;

  background-size: cover;
  
  margin-bottom: 12px;
}

.page-half-below {
  background: url('/assets/shopping-cart.jpg') no-repeat center center fixed;

  background-size: cover;

  background-position-y: 0%;
}

.page-half > h2 {
  font-size: 2rem;
}