.landing-page-wrapper {
  height: 100%;
}

.landing-page-wrapper > .page-half {
  height: auto
}

.page-half {
  height: 50%;
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-half-above {
  background-color: chocolate;
}

.page-half-below {
  background-color: orange;
}

.page-half > h2 {
  color: white;
}