<ng-sidebar-container class="sidebar-wrapper">
  <!-- A sidebar -->
  <ng-sidebar
    sidebarClass="sidebar"
    [(opened)]="opened"
    showBackdrop=true
    mode="push"

    style="background-color: #fff;"
    >

    <!-- https://echeung.me/ng-sidebar/

      Demo:
        https://github.com/arkon/ng-sidebar/blob/master/demo/src/styles/styles.scss
        https://github.com/arkon/ng-sidebar/blob/master/demo/src/demo/demo.component.ts
    -->

    <p>Sidebar contents</p>
    <p>!!!</p>
  </ng-sidebar>

  <div ng-sidebar-content class="content">
    <nav class="d-flex justify-content-between">
      <button class="toggle-sidebar" (click)="toggleSidebar()">Toggle sidebar</button>
      <h4>Navigation Bar</h4>
      
      <div class="icon-container align-self-center mr-4">
        <i class="fas fa-filter fa-2x" *ngIf="showFilterIcon()"></i>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>

</ng-sidebar-container>
