<ng-sidebar-container class="sidebar-wrapper">
  <!-- A sidebar -->
  <ng-sidebar sidebarClass="sidebar" [(opened)]="_opened" showBackdrop=true mode="over" closeOnClickBackdrop=true>
    <div class="sidebar-content">
      <h1>H!</h1>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content class="content">
    <nav class="d-flex">
      <button class="toggle-sidebar" (click)="_toggleSidebar()">Toggle sidebar</button>
      <h4>Navigation Bar</h4>

      <div class="ml-auto">foo</div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
