<ng-sidebar-container class="sidebar-wrapper">
  <!-- A sidebar -->
  <ng-sidebar sidebarClass="sidebar" [(opened)]="opened" showBackdrop=true mode="over" closeOnClickBackdrop=true>

    <div class="sidebar-content">

      <ul class="list-group">
        <li class="list-group-item">
          <i class="fas fa-arrow-left fa-2x" (click)="toggleSidebar()"></i>
        </li>
        <li class="list-group-item" *ngIf="user">
          Eingeloggt als {{ user.displayName }}
        </li>
        <li class="list-group-item" *ngIf="!user">Sie sind nicht eingeloggt</li>
        <li class="list-group-item"><a routerLink="/me" (click)="toggleSidebar()">Eigene Aufträge</a></li>
        <li class="list-group-item"><a routerLink="/transactions" (click)="toggleSidebar()">Aufträge aus der Umgebung</a></li>
      </ul>
    </div>

  </ng-sidebar>

  <div ng-sidebar-content class="content">
    <nav class="d-flex justify-content-between align-self-center">
      <div class="icon-container align-self-center ml-3">
        <i class="fas icon-color fa-bars fa-2x" (click)="toggleSidebar()"></i>
      </div>

      <img class="logo mr-auto ml-auto" src="/assets/KaufKnecht.svg" (click)="routeToHome()" />

    </nav>

    <router-outlet></router-outlet>

  </div>

</ng-sidebar-container>