nav {
  height: 60px;
}

nav h4 {
  margin: 0;
  padding: 24px 0 0 12px;
  display: inline-block;
}

.toggle-sidebar {
  display: inline-block
}

.sidebar {
  background-color: #fff;
  padding: 2em 1em;
  &.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }
}

.content {
  height: 100%;
  z-index: 99999999;
}

.sidebar-content {
  height: 100%;
  width: 80vw;
  background-color: white;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.25);

  padding: 16px 16px;
}

@media screen and (min-width: 800px) {
  .sidebar-content {
    width: 600px;
  }
}


.icon-container {
  align-items: center;
}


