<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/transactions">Einkaufslisten</a>
    </li>
    <li class="breadcrumb-item active" *ngIf="id != 'new'">{{ id }}</li>
    <li class="breadcrumb-item active" *ngIf="id == 'new'">Neuer Auftrag</li>
  </ol>
</nav>

<div class="list-group" *ngIf="!transaction">
  <p>Laden...</p>
</div>

<div class="list-group" *ngIf="transaction">
  <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of transaction.items">
    <div class="d-flex">
      <div class="align-self-center">
        <img class="productImage" src="{{item.images[0]}}">
      </div>
      <div class="ml-5 mr-5 w-100">
        <h3 class="mb-0">{{item.title}} {{item.subtitle}}</h3>
        <p class="mb-0">{{item.description}}</p>
      </div>
      <div class="align-self-center">
        <h1>
          <span class="badge badge-pill badge-primary">{{item.count}}</span>
        </h1>
      </div>
    </div>
  </div>
</div>


<div class="d-flex bg-dark" style="position: fixed; bottom: 0; left: 0; right: 0">

    <button type="button" class="btn btn-dark btn-lg" routerLink="..">Abbrechen</button>
    <button type="button" class="btn btn-primary btn-lg ml-auto" (click)="claim()" *ngIf="!transaction.claimed">verbindlich Einkaufen</button>
    <button type="button" class="btn btn-primary btn-lg ml-auto" (click)="finish()" *ngIf="transaction.claimed">Einkauf abschließen</button>
  
  </div>