<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Aufträge aus der Umgebung</li>
  </ol>
</nav>

<div class="list-group">
  <a routerLink="{{transaction.$key}}" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let transaction of transactions">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <div>
        <h5 class="mb-1">{{ transaction.items.length }} Artikel</h5>
        <small>
          <span *ngFor="let item of transaction.items; let last = last">{{item.title}}
            <span *ngIf="!last">, </span>
          </span>
        </small>
      </div>

      <div>
        <h5 class="mb-1">{{ transaction.provision }} €</h5>
        <small>noch 2h</small>
      </div>
    </div>
  </a>
</div>


<div class="bg-dark" style="position: fixed; bottom: 0; left: 0; right: 0">
  <div class="d-flex">
    <button type="button" class="btn btn-primary btn-lg ml-auto" (click)="showFilter = !showFilter">
      <i class="fas fa-sort-amount-down text-light"></i>
    </button>
  </div>
  <div class="" *ngIf="showFilter">
    <ul class="list-group">
      <li class="list-group-item" (click)="orderByDesc()">Sortieren nach Preis absteigend</li>
      <li class="list-group-item" (click)="orderByAsc()">Sortieren nach Preis aufsteigend</li>
    </ul>
  </div>

</div>