/* You can add global styles to this file, and also import other style files */

/*
$theme-colors: (
  "primary": rgb(33, 37, 42),
  "secondary": #e10915
);
*/

$enable-rounded: false;

$font-family-sans-serif: Roboto, "Helvetica Neue", sans-serif;
$font-family-serif: Roboto, "Helvetica Neue", sans-serif;
$font-family-monospace: Roboto, "Helvetica Neue", sans-serif;
$font-family-base: $font-family-sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";


html, body {
  margin: 0 auto;
  height: 100%;
}
