
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Meine Aufträge</li>
  </ol>
</nav>

<div class="list-group">
    <a routerLink="/me/{{transaction.$key}}" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let transaction of transactions">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <div>
            <h5 class="mb-1">{{ transaction.items.length }} Artikel</h5>
            <small>
              <span *ngFor="let item of transaction.items; let last = last">{{item.title}}<span *ngIf="!last">, </span>
              </span>
              
            </small>
        </div>
        <i class="fas fa-shipping-fast fa-2x"></i>
      </div>
    </a>
  </div>

  <div class="d-flex bg-dark" style="position: fixed; bottom: 0; left: 0; right: 0">

    <a routerLink="/me/new" class=" ml-auto"><button type="button" class="btn btn-primary btn-lg">Neuer Auftrag</button></a>

  </div>
